/*Import the "Roboto" font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
    margin:0px;
}
.dark-mode
{
    background-color:rgb(50, 50, 50);
}
.header
{
    width:100%;
    height:100px;
    padding:30px;
    background-color:rgb(240, 240, 240);
}
.header i
{
    font-size:25px;
}
.header h1
{
    display:inline-block;
    margin-left:10px;
}
.header h1:hover
{
    color:rgb(100, 100, 200);
    cursor:pointer;
}
.header button
{
    margin-top:20px;
    cursor:pointer;
    background-color:rgb(240, 240, 240);
    border:1px solid black;
}
.header button:hover
{
    border:2px solid rgb(100, 100, 200);
}
.search input
{
    width:400px;
    height:30px;
    border-radius:15px;
    background-color:rgb(50, 50, 50);
    color:white;
    border:none;
    font-size:20px;
    position:relative;
    margin-top:50px;
    margin-left:35%;
}
.search button
{
    width:30px;
    height:30px;
    font-size:20px;
    margin-left:15px;
    border:none;
    color:white;
    background-color:rgb(100, 100, 200);
    cursor:pointer;
}
.main
{
    margin-top:100px;
    margin-left:10%;
}
.main hr
{
    width:1200px;
    height:3px;
    border:1px solid rgb(50, 50, 50);
}
.card
{
    display:inline-block;
    margin-left:5px;
    width:250px;
}
.main img
{
    width:200px;
    height:150px;
    border-radius:20px;
    margin:10px;
    cursor:pointer
}
.main p
{
    margin:10px;
}
.footer
{
    background-color:rgb(50, 50, 50);
    width:100%;
    height:100px;
    padding:30px;
    color:white;
    font-size:20px;
    margin-top:200px;
}
.footer a
{
    color:white;
    text-decoration:none;
    margin:20px;
    cursor:pointer;
}
.recipe
{
    margin-left:35%;
}
.recipe img
{
    width:400px;
    height:350px;
    border-radius:20px;
    margin:10px;
    cursor:pointer;
}
.recipe button
{
    width:auto;
    margin-left:0px;
    margin-top:5px;
}
.recipe h3
{
    margin-top:10px;
    margin-bottom:10px;
}
.recipe span
{
    background-color:green;
    color:white;
    font-size:20px;
}
.recipe p
{
    max-width:35%;
}
.back
{
    display:block;
    position:relative;
    left:-500px;
    top:-35px;
}
.special
{
    position:relative;
    margin-left:-30px;
    word-wrap:break-word;
    max-width:40%;
    text-align: justify;
}
.authentication
{
    margin:10px;
    width:48% !important;
}
.titleHeader
{
    text-align:center;
}
.signUpContainer
{
    background-color:rgb(220, 220, 220);
    width:33%;
    height:350px;
    margin-left:33%;
    margin-top:30px;
    box-shadow:7px 7px rgb(100, 100, 100);
}
.signUpContainer p
{
    font-size:20px;
    padding:10px;
}
.signUpInput
{
    width:80% !important;
    margin-left:30px !important;
    margin-top:-30px !important;
}
.signUpContainer button
{
    width:100px;
    height:50px;
    margin-left:40%;
    margin-top:30px;
}
.welcomeHeader
{
    text-align:center;
    margin-left:-200px !important;
}
.welcomeImage
{
    width:33% !important;
    height:300px !important;
    margin-left:27% !important; 
}